<ng-container *ngIf="_parsedInscription">

  {{ _parsedInscription.contentType }}<br>

  <ng-container *ngIf="!formatedText">
    <iframe
      [srcdoc]="preview"
      scrolling="yes"
    ></iframe>

    <!-- sandbox="allow-scripts" -->
  </ng-container>

  <div class="formatedText" *ngIf="formatedText">

    <pre class="mb-0"><code [highlight]="formatedText"></code></pre>

  </div>

  <div *ngIf="_parsedInscription.getMetaprotocol() as metaprotocol">
    Metaprotocol: {{ metaprotocol }}
  </div>

  <div *ngIf="_parsedInscription.getMetadata() as metadata">
    Metadata: {{ metadata }}
  </div>

</ng-container>
