<ng-container *ngIf="_parsedInscription">

  {{ _parsedInscription.contentType }}<br>

  <app-json-viewer
    *ngIf="whatToShow === 'json'"
    [text]="_parsedInscription.getContent()"
  />

  <app-code-viewer
    *ngIf="whatToShow === 'code'"
    [textAndContentType]="{
      text: _parsedInscription.getContent(),
      contentType: _parsedInscription.contentType
    }"
  />

  <app-preview-viewer
    *ngIf="whatToShow === 'preview'"
    [parsedInscription]="_parsedInscription"
  />

  <div *ngIf="_parsedInscription.getMetaprotocol() as metaprotocol">
    Metaprotocol: {{ metaprotocol }}
  </div>

  <div *ngIf="_parsedInscription.getMetadata() as metadata">
    Metadata: {{ metadata }}
  </div>

</ng-container>
