.container-graph {
  padding: 0px 15px 10px;
}

.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
}

.card {
  background-color: transparent;
  border: 0;
}

.bootstrap-spinner {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  position: absolute;
  top: 17px;
  right: 25px;
  @media (min-width: 830px) {
    position: relative;
    top: 0px;
    right: 0px;
  }
}

.card-body {
  @media (max-width: 767.98px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}

.formRadioGroup.no-menu {
  @media (min-width: 1035px) {
    position: relative;
    top: -33px;
  }
}

.btn-group-toggle {
  display: inline-flex;
  @media (min-width: 830px) {
    display: block;
  }
}