<ng-template #connect let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Connect Wallet</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">&times;</button>
  </div>
  <div class="modal-body" *ngIf="installedWallets$ | async as wallets">

    <ul class="list-unstyled" *ngIf="wallets.installedWallets.length">
      <li *ngFor="let w of wallets.installedWallets">
        <button class="btn btn-purple mt-3 w-100 text-left" [disabled]="connectButtonDisabled"
          (click)="connectWallet(w.type)">
          <img [src]="w.logo" width="25" height="25" class="mr-2">
          {{ w.label }}<small style="font-size: 0.7em" *ngIf="w.subLabel">&nbsp; {{ w.subLabel }}</small>
        </button>
      </li>
    </ul>

    <ng-container *ngIf="wallets.notInstalledWallets.length">
      Not installed, click to download:

      <ul class="list-unstyled">
        <li *ngFor="let w of wallets.notInstalledWallets">
          <a class="btn btn-secondary mt-3 w-100 text-left" [href]="w.downloadLink" target="_blank">
            <img [src]="w.logo" width="25" height="25" class="mr-2">
            {{ w.label }}<small style="font-size: 0.7em" *ngIf="w.subLabel">&nbsp; {{ w.subLabel }}</small>
          </a>
        </li>
      </ul>

    </ng-container>

    <ng-container *ngIf="showFakeWallet">
      Just for debugging:

      <ul class="list-unstyled">
        <li>
          <button class="btn btn-purple my-2 w-100 text-left" (click)="connectFakeWallet()">Fake Wallet</button>
        </li>
      </ul>
    </ng-container>

  </div>
</ng-template>

<ng-container *ngIf="{ connectedWallet: connectedWallet$ | async } as x">

  <button *ngIf="!x.connectedWallet" class="ml-4 btn btn-purple" (click)="open()" title="Connect your Wallet"
    [ngClass]="{ 'btn-testnet': !(isMainnet$ | async) }">Connect</button>

  <ng-container *ngIf="x.connectedWallet">

    <button 
      #myPopover="ngbPopover" 
      [popoverTitle]="popTitle"
      [ngbPopover]="popContent"
      [autoClose]="'outside'"
      popoverClass="walletConnectPopover" 
      class="ml-4 btn btn-secondary"
      title="Your connected {{ knownOrdinalWallets[x.connectedWallet.type].label }} Wallet">
      <img [src]="knownOrdinalWallets[x.connectedWallet.type].logo" width="25" height="25">
    </button>

    <ng-template #popTitle>
      <h4 class="mb-0">Connected via {{ knownOrdinalWallets[x.connectedWallet.type].label }}</h4>
    </ng-template>

    <ng-template #popContent>

      <ul class="list-unstyled my-flex-container">
        <li title="{{ x.connectedWallet.ordinalsAddress || 'None'}}">
          <span class="label">Ordinals Address:</span>
          <span class="address">{{ (x.connectedWallet.ordinalsAddress | shortenString) || 'None' }}</span>
          <app-clipboard [button]="true" [text]="x.connectedWallet.ordinalsAddress"
            [class]="'btn btn-secondary mb-2'"></app-clipboard>
        </li>
        <li title="{{ x.connectedWallet.paymentAddress || 'None' }}">
          <span class="label">Payment Address:</span>
          <span class="address">{{ (x.connectedWallet.paymentAddress | shortenString) || 'None' }}</span>
          <app-clipboard [button]="true" [text]="x.connectedWallet.paymentAddress"
            [class]="'btn btn-secondary mb-2'"></app-clipboard>
        </li>
      </ul>

      <button class="btn btn-secondary mb-2" (click)="disconnect(myPopover)" title="Disconnect your Wallet">
        Disconnect
      </button>

      <ng-container *ngIf="enableCat21Mint">
        <hr>

        <strong style="color: orange">Your last CAT-21 Mints:</strong><br>
        <small style="color: orange">(scroll down in this orange box for more)</small>
        <div  style="border: 1px solid orange; height: 200px; overflow: scroll">
        <table class="table table-borderless table-striped" *ngIf="(lastCat21Mints$ | async)?.length">
          <tbody>
            <tr *ngFor="let cat21Mint of lastCat21Mints$ | async">

              <td>
                {{ cat21Mint.createdAt | date:'yyyy-MM-dd' }}
              </td>

              <td>

                <span class="tx-link">
                  <span class="txid">
                    <app-truncate
                      [text]="cat21Mint.txId"
                      [lastChars]="5"
                      [link]="['/tx/' | relativeUrl, cat21Mint.txId]"
                      [maxWidth]="220"
                      ><app-clipboard [text]="cat21Mint.txId" />
                    </app-truncate>
                  </span>
                </span>
              </td>

            </tr>
          </tbody>
        </table>
        </div>
        <div>
          <small class="text-muted" *ngIf="!(lastCat21Mints$ | async)?.length">
            No CAT-21 mints have been started on this computer yet.
            Visit the <a [routerLink]="['/cat21-mint' | relativeUrl]" (click)="myPopover.close()">minting page</a> to collect your first cat! 😻
          </small>
        </div>
      </ng-container>

      <hr>

      <!--
      Your last Inscription Accelerations:
      <table class="table table-borderless table-striped" *ngIf="(lastAccelerations$ | async)?.length"  style="height: 200px; overflow: hidden">
        <tbody>
          <tr *ngFor="let acceleration of lastAccelerations$ | async">

            <td>
              {{ acceleration.createdAt | date:'yyyy-MM-dd' }}
            </td>

            <td>

              <span class="tx-link">
                <span class="txid">
                  <app-truncate
                    [text]="acceleration.txId"
                    [lastChars]="5"
                    [link]="['/tx/' | relativeUrl, acceleration.txId]"
                    [maxWidth]="220"
                    (click)="myPopover.close()"
                    ><app-clipboard [text]="acceleration.txId" />
                  </app-truncate>
                </span>
              </span>
            </td>

          </tr>
        </tbody>
      </table>
      <div>
        <small class="text-muted" *ngIf="!(lastAccelerations$ | async)?.length">
          No inscription accelerations have been started on this computer yet.
          If you want to accelerate a pending inscription in the mempool,
          first select the transaction and try out our new service!
        </small>
      </div>
      -->

    </ng-template>
  </ng-container>
</ng-container>
