.ots-calendars {
  padding: 1rem 0;

  .text-right {
    text-align: right;
  }

  .badge.pending {
    background: #b8860b;
    color: white;
    padding: 0.15rem 0.45rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  code.smaller-text {
    font-size: 0.75rem;
  }
}
