<!-- HACK: Ordpool search form (MEMEpool placeholder, btn-secondary, wallet-connect) -->
<form [class]="{hamburgerOpen: hamburgerOpen}" [formGroup]="searchForm" (submit)="searchForm.valid && search()" novalidate>
  <div class="d-flex">
    <div class="search-box-container me-2">
      <!-- HACK: ordpool placeholder text -->
      <input #searchInput (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)" formControlName="searchText" type="text" class="form-control" i18n-placeholder="search-form.searchbar-placeholder" placeholder="Explore the full MEMEpool...">
      <app-search-results #searchResults [hidden]="dropdownHidden" [results]="typeAhead$ | async" (selectedResult)="selectedResult($event)"></app-search-results>
    </div>
    <div>
      <!-- HACK: btn-secondary instead of btn-purple -->
      <button [disabled]="isSearching" type="submit" class="btn btn-block btn-secondary">
        <fa-icon *ngIf="!(isTypeaheading$ | async) else searchLoading" [icon]="['fas', 'search']" [fixedWidth]="true" i18n-title="search-form.search-title" title="Search"></fa-icon>
      </button>
    </div>

    <!-- HACK: ordpool wallet connect button -->
    <!--
      this is definitely not the nicest place to add the connect button,
      but the responsive design looks fine here!
    -->
    <app-wallet-connect></app-wallet-connect>

  </div>
</form>

<ng-template #searchLoading>
  <div class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true" (click)="searchForm.valid && search()"></div>
</ng-template>
