<ng-container *ngIf="_parsedInscription">

  <strong>Inscription: </strong>{{ _parsedInscription.contentType }}<br>
  <br *ngIf="showDetails">

  <app-json-viewer
    *ngIf="whatToShow === 'json'"
    [text]="_parsedInscription.getContent()"
  />

  <app-code-viewer
    *ngIf="whatToShow === 'code'"
    [textAndContentType]="{
      text: _parsedInscription.getContent(),
      contentType: _parsedInscription.contentType
    }"
  />

  <app-preview-viewer
    *ngIf="whatToShow === 'preview'"
    [parsedInscription]="_parsedInscription"
  />

  <div *ngIf="_parsedInscription.getMetaprotocol() as metaprotocol">
    Metaprotocol: {{ metaprotocol }}
  </div>

  <div class="mt-2" *ngIf="showDetails && _parsedInscription.getMetadata() as metadata">
    Metadata:
    <app-metadata-viewer [data]="metadata" />
  </div>

  <div *ngIf="showDetails && _parsedInscription.getContentEncoding() as contentEncoding">
    Content Encoding: {{ contentEncoding }}
  </div>

</ng-container>
