<ng-container *ngIf="enableInscriptionAccelerator">
  <ng-container *ngIf="{
    thisTxWasAccelerated: (thisTxWasAccelerated$ | async),
    thisTxIsAccelerator: (thisTxIsAccelerator$ | async),
    isPendingInscription: parsedInscriptions.length && !tx?.status?.confirmed
  } as x">
    <ng-container *ngIf="x.thisTxWasAccelerated || x.thisTxIsAccelerator || x.isPendingInscription">
      <div class="title">
        <h2>
          <fa-icon [icon]="['fas', 'rocket']" [fixedWidth]="true"></fa-icon>
          Inscription Accelerator
        </h2>
      </div>

      <div class="box" *ngIf="x.isPendingInscription">

        <ng-container *ngIf="{ connectedWallet: connectedWallet$ | async } as x">
          <ng-container *ngIf="tx">

            <p>
              Is your inscription stuck in the mempool and you don't want to wait any longer?<br>
              We can help you to create a high-priority follow-up transaction that will boost this inscription.<br>
            </p>

            <p *ngIf="!x.connectedWallet" class="mb-0">
              Please
              <a href="javascript:void(0)" (click)="walletService.requestWalletConnect()">connect your wallet</a>
              so that we can check if you can accelerate this inscription!
            </p>

            <!-- {{ x.connectedWallet | json  }} -->

            <ng-container *ngIf="x.connectedWallet">

              <ng-container *ngIf="x.connectedWallet.type === KnownOrdinalWalletType.unisat">

                <p class="mb-0">
                  ❌&nbsp; Unfortunately, we can't provide this feature for the Unisat wallet right now.<br>
                  To try with another account, please
                  <a href="javascript:void(0)" (click)="walletService.disconnectWallet()">disconnect your wallet</a>
                  first and then connect again.
                </p>

              </ng-container>
              <ng-container *ngIf="x.connectedWallet.type !== KnownOrdinalWalletType.unisat">

                <ng-container *ngIf="x.connectedWallet.ordinalsAddress !== tx.vout[0]?.scriptpubkey_address">
                  <p class="mb-0">
                    ❌&nbsp; Only the recipient of an inscription can accelerate it with our tool.
                    But it looks like you are not the recipient!<br>
                    To try with another account, please
                    <a href="javascript:void(0)" (click)="walletService.disconnectWallet()">disconnect your wallet</a>
                    first and then connect again.
                  </p>
                </ng-container>


                <ng-container *ngIf="x.connectedWallet.ordinalsAddress === tx.vout[0]?.scriptpubkey_address">
                  <p>
                    ✅&nbsp; You are the recipient of this inscription.<br>
                    It's possible to boost this inscription via our Inscription Accelerator!
                  </p>

                  <form class="validated" [formGroup]="form" (ngSubmit)="accelerateInscription(x.connectedWallet)">

                    <div class="row mt-4">

                      <!-- Content for the second column (appears first on mobile) -->
                      <div class="col-md-6 order-md-2">
                        <small class="text-muted">Select your preferred fee rate:</small><br>
                        <app-fees-box-clickable (feeClicked)="setFeeRate($event)" class="d-block"></app-fees-box-clickable>
                      </div>

                      <!-- Content for the first column (appears second on mobile) -->
                      <div class="col-md-6 order-md-1 pr-md-5 pt-md-4">

                        <div class="input-group input-group-lg mt-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Target fee rate
                            </span>
                          </div>
                          <input type="number" class="form-control" [formControl]="cfeeRate">
                          <div class="input-group-append">
                            <span class="input-group-text">sat/vB</span>
                          </div>
                        </div>

                        <div class="feedback-error p-1" *ngIf="cfeeRate.invalid">
                          <div *ngIf="cfeeRate.hasError('required')">Please enter a value!</div>
                          <div *ngIf="cfeeRate.hasError('min')">Enter at least a value of {{ minRequiredFee }} sat/vB!</div>
                          <div *ngIf="cfeeRate.hasError('notFullNumber')">Enter whole numbers only!</div>
                        </div>

                      </div>
                    </div>

                    <div class="text-center mt-4">

                      <button type="submit" [disabled]="broadcastPsbtSuccess || form.invalid" class="btn btn-primary mt-4 mb-4 text-white" *ngIf="!broadcastPsbtLoading">
                        <fa-icon [icon]="['fas', 'rocket']" [fixedWidth]="true" ></fa-icon>
                        Accelerate my inscription
                      </button>

                      <button type="submit" disabled class="btn btn-primary mt-4 mb-4 text-white" *ngIf="broadcastPsbtLoading">
                        <i class="spinner-border spinner-border-sm text-light"></i>
                        Accelerating your inscription…
                      </button>

                    </div>
                  </form>


                  <div class="alert alert-success" *ngIf="broadcastPsbtSuccess">
                    ✅&nbsp; Your transaction has now been submitted to the mempool for acceleration.<br>
                    <ng-container *ngIf="broadcastPsbtSuccess?.txId">
                      You can track the progress
                      <a class="alert-link text-decoration-underline" [routerLink]="['/tx/' | relativeUrl, broadcastPsbtSuccess.txId]">here</a>.
                    </ng-container>
                  </div>

                  <div class="alert alert-danger" *ngIf="broadcastPsbtError">
                    ❌&nbsp; {{ broadcastPsbtError }}
                  </div>

                  <small class="text-muted">

                    Please note that the 'Inscription Accelerator' is highly experimental,
                    and we cannot assume responsibility for any issues that may arise.
                    Use this functionality at your own risk!
                    Made in partnership with our friends at
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 62.8" height="18" style="margin-top: -5px">
                      <g>
                        <path fill="#6c757d" d="M46.9,34.9C49.7,72-2.6,72,0.1,34.9c0-0.9,0.7-1.6,1.6-1.6l0,0h43.6C46.2,33.4,46.9,34.1,46.9,34.9L46.9,34.9z
                          M40.5,5.6V24c0,2.8-2.2,5-5,5h-24c-2.8,0-5-2.3-5-5V5.6c0-2.8,2.3-5.1,5.1-5.1h23.9C38.3,0.5,40.5,2.8,40.5,5.6L40.5,5.6z
                          M21.5,14.5c0-2.5-2.1-4.5-4.6-4.5s-4.4,2-4.5,4.5c0,2.5,2.1,4.5,4.6,4.5S21.5,17,21.5,14.5z M34.6,14.5c0-2.5-2.1-4.5-4.6-4.5
                          s-4.4,2-4.5,4.5c0,2.5,2.1,4.5,4.6,4.5C32.5,19,34.5,17,34.6,14.5L34.6,14.5z M30,13.1c-0.8,0-1.4,0.7-1.3,1.4
                          c0,0.7,0.6,1.3,1.3,1.3c0.8,0,1.4-0.7,1.3-1.4C31.3,13.7,30.7,13.2,30,13.1L30,13.1z M17,13.1c-0.8,0-1.4,0.7-1.3,1.4
                          c0,0.7,0.6,1.3,1.3,1.3c0.8,0,1.4-0.7,1.3-1.4C18.3,13.7,17.7,13.2,17,13.1L17,13.1z"/>
                      </g>
                    </svg>
                    OrdinalsBot!
                    OrdinalsBot charges a fee of 5% for this service.
                    <strong>Ordpool does not charge any fees.</strong>
                  </small>

                </ng-container>

              </ng-container>
            </ng-container>
          </ng-container>



          <ng-container *ngIf="!tx">
            Please wait...
          </ng-container>

        </ng-container>


      </div>

      <div class="box" *ngIf="(x.thisTxWasAccelerated || x.thisTxIsAccelerator) && !broadcastPsbtSuccess && !broadcastPsbtError">
        <div class="alert alert-success" *ngIf="x.thisTxWasAccelerated">
          This inscription was accelerated by you on
          {{ x.thisTxWasAccelerated.createdAt | date:'yyyy-MM-dd HH:mm' }}
          with a target fee rate of <strong>{{ x.thisTxWasAccelerated.feeRate }} sat/vB</strong> through
          <a class="alert-link text-decoration-underline" [routerLink]="['/tx/' | relativeUrl, x.thisTxWasAccelerated.txId]">this transaction</a>.
        </div>

        <div class="alert alert-success" *ngIf="x.thisTxIsAccelerator">
          This transaction accelerated
          <a class="alert-link text-decoration-underline" [routerLink]="['/tx/' | relativeUrl, x.thisTxIsAccelerator.acceleratedTxId]">this inscription</a>
          with a target fee rate of <strong>{{ x.thisTxIsAccelerator.feeRate }} sat/vB</strong>
          on {{ x.thisTxIsAccelerator.createdAt | date:'yyyy-MM-dd HH:mm' }}.
        </div>
      </div>

    </ng-container>
  </ng-container>
</ng-container>
