<ng-container *ngIf="svg && enableCat21Mint">

  <strong *ngIf="!minimal">😺 CAT-21 Ordinal</strong><br *ngIf="!minimal">
  <br *ngIf="showDetails">

  <div class="cat-container" [innerHTML]="svg | noSanitize"></div>

  <div class="mt-2" *ngIf="showDetails && traits">
    <strong>Traits</strong>

    <div class="row mt-2">
      <div class="col-sm">
        <table class="table table-borderless table-striped">
          <tbody>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="Genesis cat or normal cat. Genesis cats are the only white or black cats. Probability: 0.4%"
                ></fa-icon>
                Origin
              </td>
              <td>{{ traits.genesis ? 'Genesis cat' : 'Normal cat' }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="All colors used to paint the cat, excluding the colors of the laser eyes and other traits."
                ></fa-icon>
                Cat Colors
              </td>
              <td>
                <ng-container *ngFor="let color of traits.catColors; last as l">
                  <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color}"></i>{{ color }}<br *ngIf="!l">
                </ng-container>
              </td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="The gender (sex) of a cat. There is a 50% chance to receive a female cat."
                ></fa-icon>
                Gender
              </td>
              <td>{{ traits.gender }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="Design pose of the cat: Standing, Sleeping, Pouncing or Stalking. Same chance for all traits (25%)."
                ></fa-icon>
                Pose
              </td>
              <td>{{ traits.designPose }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="Design expression of the cat: Smile, Grumpy, Pouting or Shy. Same chance for all traits (25%)."
                ></fa-icon>
                Expression
              </td>
              <td>{{ traits.designExpression }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="Design pattern of the cat: Solid, Striped, Eyepatch or Half/Half. Same chance for all traits (25%)."
                ></fa-icon>
                Pattern
              </td>
              <td>{{ traits.designPattern }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="Design facing of the cat: Left or Right. 50% chance."
                ></fa-icon>
                Facing
              </td>
              <td>{{ traits.designFacing }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-borderless table-striped">
          <tbody>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="The gorgeous laser eyes trait.
                  There is a 20% chance to receive a cat with orange laser eyes, 20% chance for red, 20% chance for green, 20% chance for blue.
                  There is a 20% chance to receive no laser eyes at all."
                ></fa-icon>
                Laser Eyes
              </td>
              <td>{{ traits.laserEyes }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="The background trait. All images have a background.
                  There is a 25% chance to receive a cat with a Block 9 background.
                  There is a 25% chance to receive a cat with a cyberpunk background.
                  There is a 25% chance to receive a cat with a background of the Bitcoin Whitepaper.
                  There is a 25% chance to receive a cat with an orange background.
                  The orange color is #ff9900."
                ></fa-icon>
                Background
              </td>
              <td>{{ traits.background }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="All colors that are used to generate the background."
                ></fa-icon>
                Background Colors
              </td>
              <td>
                <ng-container *ngFor="let color of traits.backgroundColors; last as l">
                  <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color}"></i>{{ color }}<br *ngIf="!l">
                </ng-container>
              </td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="The crown trait.
                  There is a 10% chance to receive a cat with a crown.
                  The crown is golden when the background is not orange.
                  The crown is made of diamonds if the background is orange."
                ></fa-icon>
                Crown
              </td>
              <td>{{ traits.crown }}</td>
            </tr>

            <tr>
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="The glasses trait.
                  There is a 10% chance to receive a cat with black sunglasses.
                  There is a 10% chance to receive a cat with cool sunglasses.
                  There is a 10% chance to receive a cat with 3D glasses - but ONLY if the cat has no laser eyes!
                  There is a 10% chance to receive a cat with nouns glasses - but ONLY if the cat has no laser eyes!"
                ></fa-icon>
                Glasses
              </td>
              <td>{{ traits.glasses }}</td>
            </tr>

            <tr *ngIf="traits.glasses !== 'None'">
              <td>
                <fa-icon [icon]="['fas', 'info-circle']" [fixedWidth]="true"
                  ngbTooltip="All colors that are used to paint the glasses."
                ></fa-icon>
                Glasses Colors
              </td>
              <td>
                <ng-container *ngFor="let color of traits.glassesColors; last as l">
                  <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color}"></i>{{ color }}<br *ngIf="!l">
                </ng-container>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mt-4 p-2 alert alert-dark" role="alert" *ngIf="showDetails && !traits">

      <strong>
        This is an unconfirmed transaction.<br>
        The CAT-21 artwork and traits will be revealed once the transaction is included in a block.<br>
      </strong>

      (The block hash contributes to the seed.)
  </div>

</ng-container>



<ng-container *ngIf="svg && !enableCat21Mint">

  <img src="/resources/dead-cat.png" width="100%">

  <h2 class="text-center">Nice try, but this is now a dead cat!</h2>

</ng-container>
