<div class="container-xl pl-5 pr-5">
  <div class="text-center">

    <img src="/resources/cat21-logo.svg" width="300" height="220" style="margin-top: -8px">
    <h2 class="mt-2 mb-4">Mint a CAT-21 Ordinal</h2>

    <div class="text-left">

      <p class="">
        <a href="https://cat21.space/" target="_blank" style="color:#FF9900; text-decoration: underline;">CAT-21</a> is a new protocol built atop the Ordinals Theory.
        Every Bitcoin transaction with the <code style="color:#FF9900">nLockTime</code> field set to <code style="color:#FF9900">21</code> is a CAT-21 mint transaction.
        <!-- The distribution of the artwork and traits is fair and unpredictable.
        because the seed for the generated cat is
        a combination of the transaction ID and the Bitcoin block ID (hash).
        This ensures that every cat is revealed only after confirmation on the blockchain. -->

        This minting process is completely free, with no pre-allocations or extra service fees.
        Participate now, be among the early adopters, and celebrate Bitcoin! Meow!



      </p>

    </div>

  </div>


  <div class="row justify-content-center">

    <form [formGroup]="form">


    </form>

  </div>



</div>
