<app-src20-viewer
  *ngIf="whatToShow === 'src20'"
  [showDetails]="showDetails"
  [parsedSrc20]="asSrc20"
/>

<app-runestone-viewer
  *ngIf="whatToShow === 'runestone'"
  [showDetails]="showDetails"
  [parsedRunestone]="asRunestone"
/>

<app-atomical-viewer
  *ngIf="whatToShow === 'atomical'"
  [showDetails]="showDetails"
  [parsedAtomical]="asAtomical"
/>

<app-inscription-viewer
  *ngIf="whatToShow === 'inscription'"
  [showDetails]="showDetails"
  [parsedInscription]="asInscription"
/>

<app-cat21-viewer
  *ngIf="whatToShow === 'cat21'"
  [showDetails]="showDetails"
  [parsedCat21]="asCat21"
/>


<div *ngIf="whatToShow === 'nothing'">
  Unknown digital artifact.<br>
  Please update the <code>DigitalArtifactViewerComponent</code>
</div>
