.ots-block-summary {
  margin: 0.5rem 0;

  .toggle {
    cursor: pointer;
    user-select: none;

    .chevron {
      margin-left: 0.4rem;
      opacity: 0.7;
    }

    &:hover .chevron {
      opacity: 1;
    }
  }

  code.smaller-text {
    font-size: 0.75rem;
  }
}
