<div class="container-xl pl-5 pr-5">
  <div class="text-center">

    <img src="/resources/cat21-logo.svg" width="300" height="220" style="margin-top: -8px">
    <h2 class="mt-2 mb-4">Invitation to Collaborate: CAT-21</h2>

    <p>

      <strong style="color:#FF9900;">
        Did you know? Every Bitcoin transaction can mint a hidden cat.
        Help us to rescue them!
      </strong>

    </p>

    <div class="text-justify mt-5">

      <p class="mx-auto" style="max-width: 800px;">

        We are thrilled to offer you and your community the chance to participate in a new,
        fun protocol built on top of Bitcoin ordinals – created by the maker of Ordpool.

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Introducing CAT-21 ordinals</h3>

      <p class="mx-auto" style="max-width: 800px;">

        CAT-21 is a novel protocol that utilizes Bitcoin transactions and the Ordinals Theory to mint unique digital collectibles – CAT-21 ordinals.
        Each CAT-21 ordinal is linked to a unique pixelated cat image with various traits,
        offering a fresh and playful perspective on Bitcoin transactions and the Ordinals theory.
        Why? Because it's fun, and Ordpool currently lacks a mascot!<br>
        <br>
        We will reveal all technical details about the protocol when the public mint starts!

      </p>
      <div class="mx-auto  mb-4" style="max-width: 800px;">

        <div class="container-fluid px-0">
          <div class="row no-gutters">
            <div class="col-2 p-1">
              <img src="/resources/cat21-example1.svg" alt="CAT-21 example 1" class="img-fluid">
            </div>
            <div class="col-2 p-1">
              <img src="/resources/cat21-example2.svg" alt="CAT-21 example 2" class="img-fluid">
            </div>
            <div class="col-2 p-1">
              <img src="/resources/cat21-example3.svg" alt="CAT-21 example 3" class="img-fluid">
            </div>
            <div class="col-2 p-1">
              <img src="/resources/cat21-example4.svg" alt="CAT-21 example 4" class="img-fluid">
            </div>
            <div class="col-2 p-1">
              <img src="/resources/cat21-example5.svg" alt="CAT-21 example 5" class="img-fluid">
            </div>
            <div class="col-2 p-1">
              <img src="/resources/cat21-example6.svg" alt="CAT-21 example 6" class="img-fluid">
            </div>
          </div>
        </div>

      </div>

      <h3 class="mx-auto" style="max-width: 800px;">Let's Have Fun Together</h3>

      <p class="mx-auto" style="max-width: 800px;">

        We know that the first adopters of a collection (and in our case, even of a completely new protocol) play a key role in setting the vibe.
        Our cats should bring joy to the community; everything we do is just to explore the possibilities of the technology stack and to have fun doing something new.
        That's why we have identified your community as a friendly and integral part of the Ordinals community that would be a perfect fit.<br>
        <strong class="bitcoin">We want to offer your community 100 whitelist spots.</strong><br>
        Please choose on your own who should be on the list.
        Feel free to reward great role models within your community and/or raffle the remaining spots to active members of your community.
        Our collab-manager <a href="https://twitter.com/HopefulofNFTs" target="_blank" class="bitcoin">&#64;HopefulofNFTs</a> and Ordpool founder <a href="https://twitter.com/haushoppe" target="_blank" class="bitcoin">&#64;haushoppe</a> are here to assist you.

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Mint mechanics</h3>

      <p class="mx-auto" style="max-width: 800px;">

        CAT-21 ordinals are free.
        Completely free, no strings attached.
        There is no pre-allocation, and there are no hidden fees.
        You only pay the fees that go to the miner.
        We worked super hard to make the protocol as efficient as possible.
        To rescue one cat, you only have to pay the fee for a Bitcoin standard transaction – which is around 2-3 USD in Bitcoin.<br>
        <br>
        We will do a short pre-mint phase, so brave degens can ape into the project earlier! (earlier is better).
      </p>

      <ul class="mx-auto" style="max-width: 800px;">
        <li><strong>100</strong> airdrops</li>
        <li><strong>2.500</strong> super premint spots</li>
        <li><strong>7.500</strong> premint spots</li>
      </ul>

      <p class="mx-auto" style="max-width: 800px;">

        The CAT-21 protocol is unstoppable and can generate an unlimited number of unique cats.
        So, there is no hard cap on the collection size.
        But all cats are tracked by our indexer, and every cat gets an incremented number.
        You don't want to miss your chance to get a sub 1k, 5k, and 10k cat, do you?
        Everything will be open-source, of course. Meow!

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Mint dates</h3>

      <p class="mx-auto" style="max-width: 800px;">

        Airdrop & Super Premint<br>
        Start: April 10, 2024, 4PM UTC<br>
        Max Mint Amount: 15<br>
        <br>
        Premint<br>
        Start: April 10, 2024, 5PM UTC<br>
        Max Mint Amount: 10<br>
        <br>
        Public<br>
        Start: April 10, 2024, 6PM UTC<br>
        Unlimited, unleash the cats<br>

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Let's rescue the cats</h3>

      <p class="mx-auto" style="max-width: 800px;">

        Let's flood the mempool together with cute cats!
        Send your <strong class="bitcoin">100 Taproot addresses (starting with <i>bc1p...</i>)</strong> to our collab-manager <a href="https://twitter.com/HopefulofNFTs" target="_blank" class="bitcoin">&#64;HopefulofNFTs</a>
        and wait for updates during the week!
        Turn notifications on for
        <a href="https://twitter.com/OrdpoolSpace" target="_blank" class="bitcoin">&#64;OrdpoolSpace</a> and
        <a href="https://twitter.com/haushoppe" target="_blank" class="bitcoin">&#64;haushoppe</a>
        to not miss any updates.
        Have more questions?
        Awesome!
        Let's do a Twitter space together.
        We are waiting for your invitation.
        You are also invited to join our  <a href="https://discord.gg/F25NEDuyEb" target="_blank" class="bitcoin">Discord</a> – which is optional, but it's nice there!<br>
        <br>

        <img src="/resources/cat21-placholder.svg" width="200"><br>
        <br>
        <strong>Don't sleep on the cats!</strong><br>



        <br>
        With a meow and a purr,<br>
        The CAT-21 Team<br>
        <a href="https://twitter.com/haushoppe" target="_blank" class="bitcoin">&#64;haushoppe</a>,
        <a href="https://twitter.com/HopefulofNFTs" target="_blank" class="bitcoin">&#64;HopefulofNFTs</a>,
        <a href="https://twitter.com/Ethspresso" target="_blank" class="bitcoin">&#64;Ethspresso</a>, and
        <a href="https://twitter.com/LightRider5" target="_blank" class="bitcoin">&#64;LightRider5</a>

      </p>

    </div>

  </div>

