<div class="container-xl pl-5 pr-5">
  <div class="text-center">

    <img src="/resources/cat21-logo.svg" width="300" height="220" style="margin-top: -8px">
    <h2 class="mt-2 mb-4">Invitation to Collaborate: CAT-21</h2>

    <p>

      <strong style="color:#FF9900;">Did you know? Every Bitcoin transaction can mint a hidden cat.
      Help us to rescue them!
      </strong>

    </p>

    <div class="text-left mt-5">

      <p class="mx-auto" style="max-width: 800px;">

        We are excited to offer you and your community a chance to participate in a new fun protocol on top of Bitcoin ordinals - made by the creator of Ordpool.

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Introducing CAT-21 ordinals</h3>

      <p class="mx-auto" style="max-width: 800px;">

        CAT-21 is a new protocol that utilizes Bitcoin transactions and the Ordinals Theory to mint unique digital collectibles - CAT-21 ordinals.
        Each CAT-21 ordinal is linked to unique pixelated cat image with various traits, offering a fresh and playful perspective on Bitcoin transactions and the Ordinals theory.
        Why? Because it's fun and because Ordpool has no mascots right now!

        We will reveal all technical details about the protocol when the public mint starts.

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Lets have fun together</h3>

      <p class="mx-auto" style="max-width: 800px;">

        We known that first adopters of a collection (and in our case even of a completely new protocol) are taking a key role in setting the vibes.
        Our cats should bring some joy to the community, everything we do is just to explore the possiebilities of the technology stack and to have fun doing something new.
        THat why we have identified your community as a friendly and integratl part of the Ordinals community that would be a perfect fit.

        We want to offer your community 100 whitelist spots.
        Please choose on your own who should be on the list. Feel free to reward great role models within your community and/or raffle the remaining spots to members in your community.
        Our collab-manager &#64;Hopeful and the Ordpool-founder &#64;Johannes are here to assist you.

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Mint mechanics</h3>

      <p class="mx-auto" style="max-width: 800px;">

        CAT-21 ordinals are free. Completely free. Like beer. There is no pre-allocation and there are no hidden fees.
        You only pay the fees that go to the miner. We worked super hard to make the protocol as efficient as possible.
        To rescue one cat you only have to pay the fee for one Bitcoin standard transactions – which is around 2-3 USD in Bitcoin.

        We will do a short premit phase, so brave degens can ape into the project earlier! (earlier is better)
      </p>

      <ul class="mx-auto" style="max-width: 800px;">
        <li><strong>100</strong> airdrops</li>
        <li><strong>1000</strong> super premit spots</li>
        <li><strong>5000</strong> premint spots</li>
      </ul>

      <p class="mx-auto" style="max-width: 800px;">

        The CAT-21 protocol is unstoppable and can generate a potential unlimited amount of unique cats.
        So there is no hard-cap on the collection size.
        But all cats are indexed by our indexer and every cat gets a incremented number.
        You don't want to miss you chance to get a sub 1k, 5k, and 10k cat! Don't you?
        Everything will be open-source, of course. Meow!

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Mint dates</h3>

      <p class="mx-auto" style="max-width: 800px;">

        Airdrop & Super Premint<br>
        Start: 2024-04-10T, 4PM UTC<br>
        Max Mint Amount: 15<br>
        <br>
        Premint<br>
        Start: 2024-04-10, 5PM UTC<br>
        Max Mint Amount: 10<br>
        <br>
        Public<br>
        Start: 2024-04-10, 6PM UTC<br>
        Unlimeted, unleash the cats<br>

      </p>

      <h3 class="mx-auto" style="max-width: 800px;">Let's rescue the cats</h3>

      <p class="mx-auto" style="max-width: 800px;">

        Let's flood the mempool togehter with cute cats!
        Send your taproot adresses to our collab-manager &#64;Hopeful and wait for new updates during the week!
        Turn notifications on for 𝕏 &#64;OrdpoolSpace by 𝕏 &#64;haushoppe to not miss any updates.
        You have more questions? Awesome! Let's do a twitter space together. &#64;haushoppe is waiting for your invitation.
        You are also invited to join our Discord – which is optional. But it's nice there!

        Meow!

        Furry regards,
        The CAT-21 Team

      </p>

    </div>

  </div>

