@if (_parsedInscription) {
  @if (delegates.length) {

    <div *ngFor="let delegate of delegates">
      <strong>◉ Delegate Inscription:</strong>

      <p class="smaller-text mt-2">
        <a *ngFor="let delegate of delegates" class="address" [routerLink]="['/tx/' | relativeUrl, delegate.split('i')[0]]" title="{{ delegate }}">
          <app-truncate [text]="delegate" [lastChars]="10"></app-truncate>
        </a>
      </p>

      <div *ngFor="let delegateInscription of delegateInscriptions" class="ms-4">
        @if (delegateInscription.allInscriptionsInTheTxn$ | async; as allInscriptionsInTheTxn) {
          <ng-container *ngFor="let inscription of allInscriptionsInTheTxn; index as i">

            <app-inscription-viewer 
              *ngIf="inscription.inscriptionId === delegateInscription.inscriptionId"
              [showDetails]="showDetails"
              [parsedInscription]="inscription"
            />

          </ng-container>
        } @else {
          <span class="skeleton-loader"></span>
        }
      </div>
    </div>

  } @else { 

    <strong >◉ Inscription: </strong><span title="Content Type">{{ _parsedInscription.contentType }}</span><br>
    <br *ngIf="showDetails">

    @if (contentTypeInstructions$ && contentTypeInstructions$ | async; as instructions) {

      @if (instructions.whatToShow === 'json') {
        <app-json-viewer
          [text]="instructions.content"
        />
      } @else if (instructions.whatToShow === 'code') {

        <app-code-viewer
          [textAndContentType]="{
            text: instructions.content,
            contentType: _parsedInscription.contentType
          }"
        />
      } @else if (instructions.whatToShow === 'decode-failure') {
        <div class="alert alert-warning">
          <strong>Decode failure:</strong>
          @if (instructions.reason === 'invalid-data') {
            inscription content is malformed (compression header doesn't match the body).
          } @else if (instructions.reason === 'size-limit') {
            inscription content exceeds the safe decompression budget.
          } @else {
            content could not be decoded.
          }
        </div>
      } @else {
        <app-preview-viewer
          [parsedInscription]="_parsedInscription"
        />
      }
    }

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getParents() as parents">
      <ng-container *ngIf="parents.length === 1">
        Parent Inscription:
        <a class="address smaller-text" [routerLink]="['/tx/' | relativeUrl, parents[0].split('i')[0]]" title="{{ parents[0] }}">
          <app-truncate [text]="parents[0]" [lastChars]="10"></app-truncate>
        </a>
      </ng-container>

      <ng-container *ngIf="parents.length > 1">
        Parent Inscriptions:
        <ol class="smaller-text pb-2 mt-2">
          <li *ngFor="let parent of parents" class="ps-2">
            <a class="address" [routerLink]="['/tx/' | relativeUrl, parent.split('i')[0]]" title="{{ parent }}">
              <app-truncate [text]="parent" [lastChars]="10"></app-truncate>
            </a>
          </li>
        </ol>
      </ng-container>


    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getMetaprotocol() as metaprotocol">
      Metaprotocol: {{ metaprotocol }}
    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getMetadata() as metadata">
      Metadata:
      <app-metadata-viewer [data]="metadata" />
    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getContentEncoding() as contentEncoding">
      Content Encoding: {{ contentEncoding }}
    </div>

    <div class="mt-2" *ngIf="showDetails && note">
      Note (tag 15):
      <code class="smaller-text">{{ note }}</code>
      <fa-icon class="ms-1 smaller-text" [icon]="['fas', 'info-circle']" [fixedWidth]="true"
        ngbTooltip="Tag 15 (Tag::Note in ord). Free-form note attached to the inscription. The reference indexer stores it but does not display it."
      ></fa-icon>
    </div>

    <div class="mt-2" *ngIf="showDetails && runeCommitmentHex">
      Rune commitment (tag 13):
      <code class="smaller-text">{{ runeCommitmentHex }}</code>
      <fa-icon class="ms-1 smaller-text" [icon]="['fas', 'info-circle']" [fixedWidth]="true"
        ngbTooltip="Little-endian bytes of the rune's u128 value with trailing zeros stripped. Used by the rune protocol to commit to an etching from inside an inscription; the etching tx must spend this inscription's UTXO."
      ></fa-icon>
    </div>

    <ng-container *ngIf="showDetails && properties$ && (properties$ | async) as properties">
      <div class="mt-3" *ngIf="properties.title || properties.traits">
        <strong>Properties (tag 17)</strong>
        <table class="mt-2 table table-borderless table-striped">
          <tbody>
            <tr *ngIf="properties.title">
              <td>Title</td>
              <td>{{ properties.title }}</td>
            </tr>
            <tr *ngFor="let trait of properties.traits | keyvalue">
              <td><code>{{ trait.key }}</code></td>
              <td>{{ trait.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-3" *ngIf="properties.gallery && properties.gallery.length">
        <strong>Gallery ({{ properties.gallery.length | number }})</strong>
        <fa-icon class="ms-1 smaller-text" [icon]="['fas', 'info-circle']" [fixedWidth]="true"
          ngbTooltip="A curated list of inscription IDs referenced from this inscription's tag 17. Galleries are permissionless. Inclusion does NOT imply provenance."
        ></fa-icon>
        <ol class="smaller-text mt-2" [attr.start]="(galleryPage - 1) * GALLERY_PAGE_SIZE + 1">
          <li *ngFor="let item of properties.gallery.slice((galleryPage - 1) * GALLERY_PAGE_SIZE, galleryPage * GALLERY_PAGE_SIZE)" class="mb-1">
            <a class="address" [routerLink]="['/tx/' | relativeUrl, item.inscriptionId.split('i')[0]]" title="{{ item.inscriptionId }}">
              <app-truncate [text]="item.inscriptionId" [lastChars]="10"></app-truncate>
            </a>
            <span *ngIf="item.title" class="ms-2">{{ item.title }}</span>
          </li>
        </ol>

        <ngb-pagination
          *ngIf="properties.gallery.length > GALLERY_PAGE_SIZE"
          class="pagination-container mt-2"
          style="margin-left: -5px"
          [collectionSize]="properties.gallery.length"
          [rotate]="true"
          [pageSize]="GALLERY_PAGE_SIZE"
          [maxSize]="5"
          [(page)]="galleryPage"
          [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </ng-container>

    <table class="mt-2 table table-borderless table-striped w-50" *ngIf="showDetails">
      <tbody>
        <tr>
          <td>Content size</td>
          <td [innerHTML]="'&lrm;' + (_parsedInscription.contentSize | bytes: 2)"></td>
        </tr>
        <tr>
          <td>Envelope size</td>
          <td [innerHTML]="'&lrm;' + (_parsedInscription.envelopeSize | bytes: 2)"></td>
        </tr>
        <tr>
          <td>Preview</td>
          <td><a href="/preview/{{ _parsedInscription.inscriptionId }}" target="_blank">Link</a></td>
        </tr>
        <tr>
          <td>Raw Content</td>
          <td><a href="/content/{{ _parsedInscription.inscriptionId }}" target="_blank">Link</a></td>
        </tr>
        <tr *ngIf="_parsedInscription.getPointer() !== undefined">
          <td>Pointer:</td>
          <td>{{ _parsedInscription.getPointer() }}</td>
        </tr>
      </tbody>
    </table>

  }
}
