<ng-container *ngIf="_parsedInscription">

  <ng-container *ngIf="whatToShow === 'delegates' && !minimal">

    <div *ngFor="let delegate of delegates">
      <strong>◉ Delegate Inscription:</strong>

      <p class="smaller-text mt-2">
        <a *ngFor="let delegate of delegates" class="address" [routerLink]="['/tx/' | relativeUrl, delegate.split('i')[0]]" title="{{ delegate }}">
          <app-truncate [text]="delegate" [lastChars]="10"></app-truncate>
        </a>
      </p>

      <div *ngFor="let delegateInscription of delegateInscriptions" class="ml-4">
        @if (delegateInscription.allInscriptionsInTheTxn$ | async; as allInscriptionsInTheTxn) {
          <ng-container *ngFor="let inscription of allInscriptionsInTheTxn; index as i">

            <app-inscription-viewer 
              *ngIf="inscription.inscriptionId === delegateInscription.inscriptionId"
              [showDetails]="showDetails"
              [parsedInscription]="inscription"
            />

          </ng-container>
        } @else {
          <span class="skeleton-loader"></span>
        }
      </div>
    </div>

  </ng-container>

  <!-- only show first delegate in minimal mode -->
  <ng-container *ngIf="whatToShow === 'delegates' && minimal">

    <div *ngIf="delegateInscriptions[0] as delegateInscription" class="ml-4">
      @if (delegateInscription.allInscriptionsInTheTxn$ | async; as allInscriptionsInTheTxn) {
        <ng-container *ngFor="let inscription of allInscriptionsInTheTxn; index as i">

          <app-inscription-viewer 
            *ngIf="inscription.inscriptionId === delegateInscription.inscriptionId"
            [showDetails]="showDetails"
            [parsedInscription]="inscription"
          />

        </ng-container>
      }
    </div>

  </ng-container>

  <ng-container *ngIf="whatToShow !== 'delegates'">

    <ng-container *ngIf="!minimal">
      <strong >◉ Inscription: </strong><span title="Content Type">{{ _parsedInscription.contentType }}</span><br>
      <br *ngIf="showDetails">
    </ng-container>

    <app-json-viewer
      *ngIf="whatToShow === 'json'"
      [text]="_parsedInscription.getContent() | async"
    />

    <app-code-viewer
      *ngIf="whatToShow === 'code'"
      [textAndContentType]="{
        text: _parsedInscription.getContent() | async,
        contentType: _parsedInscription.contentType
      }"
    />

    <app-preview-viewer
      *ngIf="whatToShow === 'preview'"
      [parsedInscription]="_parsedInscription"
    />

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getParents() as parents">
      <ng-container *ngIf="parents.length === 1">
        Parent Inscription:
        <a class="address smaller-text" [routerLink]="['/tx/' | relativeUrl, parents[0].split('i')[0]]" title="{{ parents[0] }}">
          <app-truncate [text]="parents[0]" [lastChars]="10"></app-truncate>
        </a>
      </ng-container>

      <ng-container *ngIf="parents.length > 1">
        Parent Inscriptions:
        <ol class="smaller-text pb-2 mt-2">
          <li *ngFor="let parent of parents" class="pl-2">
            <a class="address" [routerLink]="['/tx/' | relativeUrl, parent.split('i')[0]]" title="{{ parent }}">
              <app-truncate [text]="parent" [lastChars]="10"></app-truncate>
            </a>
          </li>
        </ol>
      </ng-container>


    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getMetaprotocol() as metaprotocol">
      Metaprotocol: {{ metaprotocol }}
    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getMetadata() as metadata">
      Metadata:
      <app-metadata-viewer [data]="metadata" />
    </div>

    <div class="mt-2" *ngIf="showDetails && _parsedInscription.getContentEncoding() as contentEncoding">
      Content Encoding: {{ contentEncoding }}
    </div>

    <table class="mt-2 table table-borderless table-striped w-50" *ngIf="showDetails">
      <tbody>
        <tr>
          <td>Content size</td>
          <td [innerHTML]="'&lrm;' + (_parsedInscription.contentSize | bytes: 2)"></td>
        </tr>
        <tr>
          <td>Envelope size</td>
          <td [innerHTML]="'&lrm;' + (_parsedInscription.envelopeSize | bytes: 2)"></td>
        </tr>
        <tr *ngIf="_parsedInscription.getPointer() !== undefined">
          <td>Pointer:</td>
          <td>{{ _parsedInscription.getPointer() }}</td>
        </tr>
      </tbody>
    </table>

  </ng-container>

</ng-container>
