:root {

  --search-button: #d5a90a;
  --search-button-border: #d5a90a;
  --search-button-focus: #eba814;
  --search-button-shadow: #eba814;
}


@import "./styles_highlightjs_solarized-dark";
@import "./styles_form-control";