<div class="container-xl pl-5 pr-5" *ngIf="enableCat21Mint">
  <div class="text-center">

    <img src="/resources/cat21-logo.svg" width="300" height="220" style="margin-top: -8px">
    <h2 class="mt-2 mb-4">Mint a CAT-21 Ordinal</h2>

    <div class="text-left">

      <p class="mx-auto" style="max-width: 800px;">

        Did you know? Every Bitcoin transaction can mint a hidden cat.
        Rescue the cats and be part of the movement!

        <!-- <a href="https://cat21.space/" target="_blank" style="color:#FF9900; text-decoration: underline;">CAT-21</a> -->
        CAT-21 is a new meme protocol from the creator of Ordpool.
        The minting process is completely free.
        So take your chance while fees are low and rescue as many cats as you can!

        And while you're here, you might also want to <a href="https://github.com/ordpool-space/cat-21" target="_blank" style="color:#FF9900; text-decoration: underline;">read the whitepaper</a>.

      </p>

    </div>

  </div>

  <div class="box mt-4">
    <ng-container *ngIf="{ connectedWallet: connectedWallet$ | async } as x">

      <p *ngIf="!x.connectedWallet" class="mt-3 text-center">
        Please
        <a href="javascript:void(0)" (click)="walletService.requestWalletConnect()">connect your wallet</a>.
        We support Xverse, Leather and Unisat.
      </p>

      <ng-container *ngIf="x.connectedWallet">

        <form class="validated" [formGroup]="form" (ngSubmit)="mintCat21(x.connectedWallet)">

          <div class="row mt-4">

            <!-- Content for the second column (appears first on mobile) -->
            <div class="col-md-6 order-md-2">
              <small class="text-muted">Select your preferred fee rate:</small><br>
              <app-fees-box-clickable (feeClicked)="setFeeRate($event)"
                class="d-block pt-2"></app-fees-box-clickable>
            </div>

            <!-- Content for the first column (appears second on mobile) -->
            <div class="col-md-6 order-md-1 pr-md-5 pt-md-4">

              <div class="input-group input-group-lg mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Fee rate
                  </span>
                </div>
                <input type="number" class="form-control" [formControl]="cfeeRate">
                <div class="input-group-append">
                  <span class="input-group-text">sat/vB</span>
                </div>
              </div>

              <div class="feedback-error p-1" *ngIf="cfeeRate.invalid">
                <div *ngIf="cfeeRate.hasError('required')">Please enter a value!</div>
                <div *ngIf="cfeeRate.hasError('min')">Enter at least a value of {{ minRequiredFee }} sat/vB! If you are really sure that you want a fee rate that is lower than the recommended rate, switch to Expert mode and deactivate the check.</div>
                <div *ngIf="cfeeRate.hasError('notFullNumber')">Enter whole numbers only!</div>
              </div>

            </div>
          </div>

          <div class="p-2 mt-4" *ngIf="(recommendedFees$ | async) && !selectedPaymentOutput && !utxoLoading">
            We are sorry, but we could not find find enough funds in your payment address! 😿<br>
            No UTXO has enough value to execute a transaction at the current fees.
            We recommend sending at least

            <ul class="m-0">
              <li>
                <code class="bitcoin">{{ 200000 | number }}</code>&nbsp;<span class="symbol" i18n="shared.sat|sat">sat</span> (<app-fiat
                  [value]="200000"></app-fiat>)&nbsp;<app-clipboard [button]="true" [text]="'200000'"
                  [class]="'btn btn-sm p-0'"></app-clipboard>

              </li>
              <li>to your address <code
                  class="bitcoin">{{ x.connectedWallet.paymentAddress }}</code>&nbsp;<app-clipboard
                  [button]="true" [text]="x.connectedWallet.paymentAddress"
                  [class]="'btn btn-sm p-0'"></app-clipboard>
              </li>
            </ul>

            This should be enough to mint <strong class="bitcoin">multiple</strong> CAT-21 ordinals. 😻😻😻
          </div>

          <div *ngIf="!utxoLoading && !utxoError && (paymentOutputs$ | async)?.length">

            <details>
              <summary>Show Expert Settings</summary>

              <p class="mt-2">
                For each UTXO, our algorithm crafts a Bitcoin transaction with two goals.
                The first output mints the CAT-21 ordinal.
                A second output is created for the change that goes back to your payment address, but only if it's
                above the dust limit.
                If the change is too small and falls below the dust limit, we add it to the miner's fee instead.
                We automatically select your largest UTXO, but feel free to select a different one if you like:
              </p>

              <a *ngIf="minRequiredFee != 1" href="javascript:void(0)" (click)="updateMinRequiredFee(1)">⚠️ Click here to disable the required fee rate check (do you know what you are doing!?)</a>

              <div class="mt-4 pl-2 pr-2 pt-1 pb-1 shape-border" *ngFor="let x of paymentOutputs$ | async"
                [ngClass]="{ selected: x === this.selectedPaymentOutput }">

                <button *ngIf="x !== this.selectedPaymentOutput" class="btn btn-primary float-right text-white mt-2"
                  (click)="selectedPaymentOutput = x" type="button">
                  Use this UTXO
                </button>

                UTXO {{ x.paymentOutput.txid }}:{{ x.paymentOutput.vout }}

                <span *ngIf="x.paymentOutput.status.confirmed" type="button"
                  class="btn btn-outline-success no-cursor pr-1 pl-1">Confirmed</span>
                <span *ngIf="!x.paymentOutput.status.confirmed" type="button"
                  class="btn btn-outline-danger no-cursor pr-1 pl-1">Unconfirmed</span>
                <br>

                {{ x.paymentOutput.value | number }}
                <span class="symbol" i18n="shared.sat|sat">sat</span>
                <app-fiat [value]="x.paymentOutput.value"></app-fiat>
                Available Value
                <br>

                - {{ toNumber(x.simulation.finalTransactionFee) | number }}
                <span class="symbol" i18n="shared.sat|sat">sat</span>
                <app-fiat [value]="toNumber(x.simulation.finalTransactionFee)"></app-fiat>
                Miner Fees<br>

                - {{ toNumber(x.simulation.amountToRecipient) | number }}
                <span class="symbol" i18n="shared.sat|sat">sat</span>
                <app-fiat [value]="toNumber(x.simulation.amountToRecipient)"></app-fiat>
                CAT-21 Ordinal (1st Output)
                <br>

                = {{ toNumber(x.simulation.changeAmount) | number }}
                <span class="symbol" i18n="shared.sat|sat">sat</span>
                <app-fiat [value]="toNumber(x.simulation.changeAmount)"></app-fiat>
                Change Amount ({{toNumber(x.simulation.changeAmount) === 0 ? 'no ' : '' }}2nd output)
                <br>



              </div>

            </details>
          </div>
          <div class="text-center mt-4">

            <button type="submit" *ngIf="!utxoLoading && !mintCat21Success" [disabled]="form.invalid || !selectedPaymentOutput"
              class="btn btn-primary mt-4 mb-4 text-white">

              <ng-container  *ngIf="!mintCat21Loading">
                <img src="/resources/cat21-small-logo.svg" style="margin-top: -4px; margin-right: 6px"
                  title="Mint a CAT-21 ordinal" height="30"> Mint my cat
              </ng-container>

              <ng-container  *ngIf="mintCat21Loading">
                <i class="spinner-border spinner-border-sm text-light"></i> Minting your cat
              </ng-container>


            </button>

            <a href="javascript:location.reload()" *ngIf="mintCat21Success" class="btn btn-primary mt-4 mb-4 text-white">
              <img src="/resources/cat21-small-logo.svg" style="margin-top: -4px; margin-right: 6px" title="Mint a CAT-21 ordinal" height="30"> Mint another cat!
            </a>

          <button type="submit" disabled class="btn btn-primary mt-4 mb-4 text-white" *ngIf="utxoLoading">
            <i class="spinner-border spinner-border-sm text-light"></i>
            Scanning your payments address
          </button>

          </div>
        </form>

        <div class="alert alert-success" *ngIf="mintCat21Success">
          ✅&nbsp; Your CAT-21 transaction has now been submitted to the mempool.<br>
          <ng-container *ngIf="mintCat21Success?.txId">
            You can track the progress
            <a class="alert-link text-decoration-underline"
              [routerLink]="['/tx/' | relativeUrl, mintCat21Success.txId]">here</a>.
          </ng-container>
        </div>

        <div class="alert alert-danger" *ngIf="mintCat21Error">
          ❌&nbsp; {{ mintCat21Error }}
        </div>

        <div class="alert alert-danger" *ngIf="utxoError">
          ❌&nbsp; {{ utxoError }}
        </div>

        <div class="alert alert-danger" *ngIf="checkerError">
          ❌&nbsp; {{ checkerError }}
        </div>


        <ng-container *ngIf="x.connectedWallet.type === KnownOrdinalWalletType.unisat">

          <p class="alert alert-warning mt-4" *ngIf="!selectedPaymentOutput || (selectedPaymentOutput && selectedPaymentOutput.paymentOutput.value < unisatShowWarningThreshold)">
            You are using the Unisat wallet, which is limited to a single address for both payments and the storage of ordinals.
            We recommend starting with a fresh account to prevent accidentally spending valuable ordinals as miner fees.
            If starting new is not an option, please carefully review the UTXO you intend to use through the expert mode.
            Large UTXOs are save to use. If all remaining UTXOs are under {{ unisatShowWarningThreshold | number }} sats,
            it's safer to recharge your account with additional funds!<br>
            <br>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="mt-n1 mr-1" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>

            <strong>Disclaimer:</strong> When utilizing Unisat for minting, you proceed at your own risk.
            Ensure you fully understand how to select UTXOs for your transactions to avoid losing all your valuable assets!

            <strong *ngIf="selectedPaymentOutput && selectedPaymentOutput.paymentOutput.value < unisatShowWarningThreshold">
            Right now you have selected an UTXO with a value of {{ this.selectedPaymentOutput.paymentOutput.value  | number }} which is below the secure threshold!
            </strong>

          </p>

        </ng-container>

      </ng-container>

    </ng-container>
  </div>
</div>

<div class="container-xl pl-5 pr-5" *ngIf="!enableCat21Mint">
  <div class="text-center">

    <img src="/resources/cat21-logo.svg" width="300" height="220" style="margin-top: -8px">
    <h2 class="mt-2 mb-4 pr-2"> <strong style="color:#FF9900;">CAT-21</strong> – coming soon!</h2>

  </div>
</div>
