<footer [class]="{'services': isServicesPage}">
  <div class="container-fluid">

    <div class="row col-md-12 link-tree pt-4" [class]="{'services': isServicesPage}">

      <div class="main-logo mb-5" [class]="{'services': isServicesPage}">
        <h4><img width="30" height="32" style="margin-top: -6px; margin-right: 6px" src="/resources/mempool-cube-logo.png">ordpool<span class="text-primary">.space<sup><strong>v2</strong></sup></span></h4>
        <i>A&nbsp;Bitcoin&nbsp;<strong class="bitcoin">MEME</strong>pool&nbsp;explorer.</i>
      </div>

    
        <div class="links"  *ngIf="{ val: network$ | async } as network">
          <p class="category">Tools</p>

          <p><a *ngIf="enableCat21Mint" [routerLink]="['/cat21-mint']">Mint a CAT-21 <img src="/resources/cat21-logo.svg" style="margin-top: -4px;" title="Mint a CAT-21 ordinal" height="30"></a></p>
          <!-- <p><a href="https://cubes.haushoppe.art/" target="_blank"><fa-icon [icon]="['fas', 'external-link-alt']" title="Mint an Ordinal Cube"></fa-icon> Mint an Ordinal Cube</a></p> -->
          <p><a [routerLink]="['/tools/calculator']">BTC/Fiat Converter</a></p>

          <p *ngIf="env.TESTNET_ENABLED">
            <a *ngIf="network.val !== ''" class="mainnet" [routerLink]="networkPaths['mainnet'] || '/'"><!--<app-svg-images name="bitcoin" width="22" height="22" viewBox="0 0 65 65" style="width: 25px; height: 25px;" class="mainnet mr-1"></app-svg-images>-->Switch to Mainnet</a>
            <a *ngIf="network.val !== 'testnet'" class="testnet" [class.active]="network.val === 'testnet'" [routerLink]="networkPaths['testnet'] || '/testnet'"><!--<app-svg-images name="testnet" width="22" height="22" viewBox="0 0 65 65" style="width: 25px; height: 25px;" class="mainnet mr-1"></app-svg-images>-->Switch to Testnet</a>
          </p>

        </div>

        <div class="links">
          <p class="category">Legal</p>
          <p><a [routerLink]="['/about']">About Ordpool</a></p>
          <p><a [routerLink]="['/terms-of-service']" i18n="shared.terms-of-service|Terms of Service">Terms of Service</a></p>
        </div>
    </div>
    <div class="row social-links mt-5">
      <div class="col-sm-12 bitcoin">
        <a href="https://twitter.com/OrdpoolSpace" target="_blank" class="m-0 mr-2 bitcoin">𝕏&nbsp;&#64;OrdpoolSpace</a>
        <span>by</span>
        <a href="https://twitter.com/haushoppe" target="_blank" class="m-0 ml-2 bitcoin">𝕏&nbsp;&#64;haushoppe</a>
        <br><br>
      </div>
    </div>
    <div class="row version" [style]="{'background-color': isServicesPage ? '#1d1f31' : ''}">
      <div class="col-sm-12">
        <p>
          
          <!-- {{ (backendInfo$ | async)?.hostname }} v{{ (backendInfo$ | async )?.version }} -->
          <!-- <span *ngIf="stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE">[{{ (servicesBackendInfo$ | async )?.gitCommit | slice:0:8 }}]!!!</span> -->
          <!-- v{{ packetJsonVersion }} -->

          Ordpool is fully open source.<br>

          <!-- See the latest commit to the 
          <a target="_blank" class="bitcoin" href="https://github.com/ordpool-space/ordpool/commit/{{ (backendInfo$ | async )?.gitCommit }}">backend</a>
          and the
          <a target="_blank" class="bitcoin" href="https://github.com/ordpool-space/ordpool/commit/{{ frontendGitCommitHash }}">frontend</a> on GitHub. -->

          Built from commit <a target="_blank" class="bitcoin" href="https://github.com/ordpool-space/ordpool/commit/{{ frontendGitCommitHash }}">{{ frontendGitCommitHash }}</a>.
        </p>
      </div>
    </div>

  </div>

</footer>
